<a href="https://colab.research.google.com/github/GitAd7/DSA-Question/blob/main/Python_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Custom Function

---
 - Making a custom function to calculate the calories burned.
 - Have to make it using while loop, inputs are activty duration, activity type.
 - Running burns 10 cal per min, swimming burns 8 cal per min, cycling burns 6 cal per min.
---

In [1]:
def calories_burned(duration_min, activity_type):
  '''
  inputs = duration_min (time of activity is minutes), activity_type (Type of activity indulging in)
  outputs = calories burned (Total calories burned by doing the specified activity)
  '''
  if activity_type == 'running':
    calories = duration_min * 10
  elif activity_type == 'swimming':
    calories = duration_min * 8
  elif activity_type == 'cycling':
    calories = duration_min * 6
  else:
    calories = 0
  return calories

In [3]:
glb_cal = calories_burned(20, 'cycling')
print(glb_cal)

120

In [5]:
total_cal = calories_burned(23, 'swimming') + calories_burned(10, 'cycling') + calories_burned(30, 'running')
print(total_cal)

544

---
- Create a function to keep the count of book to order for each category.
- Inventory atleast has 10 books for each title at minimun.
- Input: a dictionary of books names as key with current count as values.
- Output: A dictionary of the book names as key and the value as number of books to be ordered.
---

In [25]:
books = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}


books_cnt = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}

In [22]:
# Approach-01
def inventory_update(books):
  for book in books:
    books[book] = books[book] - 10
  return books

# Approach-02
def books_tb_ordered(books):
  order = {}
  for name, qty in books.items():
    if qty >= 10:
      order[name] = 0
    else:
      order[name] = 10 - qty
  return order

In [23]:
cal = inventory_update(books)
print(cal)

{'Harry Potter': 0, 'The Hunger Games': -5, 'To Kill a Mockingbird': -8, 'Pride and Prejudice': -2, 'The Book Thief': -6}

In [26]:
bks = books_tb_ordered(books_cnt)
print(bks)

{'Harry Potter': 0, 'The Hunger Games': 5, 'To Kill a Mockingbird': 8, 'Pride and Prejudice': 2, 'The Book Thief': 6}

# Advanced Looping Concepts