<a href="https://colab.research.google.com/github/GitAd7/DSA-Question/blob/main/Python_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Custom Function

---
 - Making a custom function to calculate the calories burned.
 - Have to make it using while loop, inputs are activty duration, activity type.
 - Running burns 10 cal per min, swimming burns 8 cal per min, cycling burns 6 cal per min.
---

In [ ]:
def calories_burned(duration_min, activity_type):
  '''
  inputs = duration_min (time of activity is minutes), activity_type (Type of activity indulging in)
  outputs = calories burned (Total calories burned by doing the specified activity)
  '''
  if activity_type == 'running':
    calories = duration_min * 10
  elif activity_type == 'swimming':
    calories = duration_min * 8
  elif activity_type == 'cycling':
    calories = duration_min * 6
  else:
    calories = 0
  return calories

In [ ]:
glb_cal = calories_burned(20, 'cycling')
print(glb_cal)

120

In [ ]:
total_cal = calories_burned(23, 'swimming') + calories_burned(10, 'cycling') + calories_burned(30, 'running')
print(total_cal)

544

---
- Create a function to keep the count of book to order for each category.
- Inventory atleast has 10 books for each title at minimun.
- Input: a dictionary of books names as key with current count as values.
- Output: A dictionary of the book names as key and the value as number of books to be ordered.
---

In [ ]:
books = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}


books_cnt = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}

In [ ]:
# Approach-01
def inventory_update(books):
  for book in books:
    books[book] = books[book] - 10
  return books

# Approach-02
def books_tb_ordered(books):
  order = {}
  for name, qty in books.items():
    if qty >= 10:
      order[name] = 0
    else:
      order[name] = 10 - qty
  return order

In [ ]:
cal = inventory_update(books)
print(cal)

{'Harry Potter': 0, 'The Hunger Games': -5, 'To Kill a Mockingbird': -8, 'Pride and Prejudice': -2, 'The Book Thief': -6}

In [ ]:
bks = books_tb_ordered(books_cnt)
print(bks)

{'Harry Potter': 0, 'The Hunger Games': 5, 'To Kill a Mockingbird': 8, 'Pride and Prejudice': 2, 'The Book Thief': 6}

# Advanced Looping Concepts

---
- The blue things are the keywords which you should not mess with as we try to define a variable with keywords it will always assume to be function. Examples, def, lambda...
---

In [ ]:
# A lambda function which adds two number
add = lambda x,y: x+y

# calling the function
results = add(4,5)
print(results)

9

---
- Comparing with normal function

1. required a function name
2. arguments in ()
3. operation after :    
4. return statement is required.
---

In [ ]:
def add1(x,y):
  z = x+y
  return z

results1 = add1(4,5)
print(results1)

9

---
- If we have to solve something in a one liner then we have to use lambda function, but if we have more steps than we must use normal def function.
---

- Write a lambda function for division, if the second number is zero then it should print undefiend.

In [ ]:
div = lambda x,y: "undefined" if y==0 else x/y

print(div(10,2))
print(div(10,0))

5.0
undefined

---
 - Filter function is just another built-in function in python that allows us to filter elements of iterlable (such as list, tuple, string) based on certain condition
---

In [ ]:
filter(function, iterable)

In [ ]:
numb = [1,2,3,4,5,6,7,8,9]
eve = list(filter(lambda x: x % 2==0, numb))
print(eve)

[2, 4, 6, 8]

- Mapping function in python applies a given function to each of the iterable and return nre iterables with result

In [ ]:
map(function, iterable)

In [ ]:
numb = [1,2,3,4,5,6,7,8,9]
sq = list(map(lambda x: x**2, numb))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- map function can be used with any function which takes a single argument and gives a single value

In [ ]:
word = ['apple', 'banana','mango','cherry']
len = list(map(len, word))
print(len)

[5, 6, 5, 6]

---
List Comprehension
- it allows us to create new list by iterating over an existing iterable object and applying a condition or expression to each element
---

In [ ]:
# basic syntax of list comprehension
new_iterable = [expression for item in iterable if condition]

In [ ]:
# through list comprehension
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# through loop
squares = []
for i in range(1,11):
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [i**2 for i in range(1,11) if i%2==0]
print(squares)

[4, 16, 36, 64, 100]

In [ ]:
squares = []
for i in range(1,11):
  if i%2==0:
    squares.append(i**2)
print(squares)

[4, 16, 36, 64, 100]

In [ ]:
# Nested list comprehension
pair = [(x,j) for x in range(1,6) if x % 2 ==0 for j in range(1,6) if j%2 ==1]
print(pair)

[(2, 1), (2, 3), (2, 5), (4, 1), (4, 3), (4, 5)]

In [ ]:
num_grades = [78,92,85,65,89,76,81]
let_grades = []
for grade in num_grades:
  if grade in range(90,101):
    let_grades.append('A')
  elif grade in range(80,90):
    let_grades.append('B')
  elif grade in range(70,80):
    let_grades.append('C')
  elif grade in range(60,70):
    let_grades.append('D')
  else:
    let_grades.append('F')
print(let_grades)

['C', 'A', 'B', 'D', 'B', 'C', 'B']

In [ ]:
lett_grades = ['A' if grade>=90 else 'B' if grade>=80 else 'C' if grade>=70 else 'F' for grade in num_grades]
print(lett_grades)

['C', 'A', 'B', 'F', 'B', 'C', 'B']

In [ ]:
prices = [100,50,80,120,150,340,200,45,20,10]
dis_price = [i*.80 for i in prices]
print(dis_price)

[80.0, 40.0, 64.0, 96.0, 120.0, 272.0, 160.0, 36.0, 16.0, 8.0]

---
Set Comprehension
- Similar to the list list comprehension but we are just creating a set
---

In [5]:
vow = {char for char in "Heello People" if char in 'aeiou'}
print(vow)

{'e', 'o'}

In [8]:
books = [('fiction', 20), ('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]

cat = {category for category, stock in books if stock>=10}
print(cat)

{'fiction', 'mystery', 'history'}

Enumerate Function:
- The "enumerate()" function is a powerful tool that simplifies looping over iterable objects, such as lists or strings. It returns a tuple containing the index and the corresponding value for each element in the sequence. This allows you to access both the index and the element during iteration, making code more concise and readable.

Zip Function:
- The "zip()" function is used to combine multiple iterables into a single iterable of tuples. It pairs elements from different sequences based on their index. This is particularly useful when you want to loop through multiple lists or strings simultaneously.

Generator Expressions:
- Generator expressions are similar to list comprehensions, but they generate values on-the-fly rather than creating a new list. This makes them memory-efficient when dealing with large datasets. They are denoted by parentheses instead of square brackets.