<a href="https://colab.research.google.com/github/GitAd7/DSA-Question/blob/main/Python_Class.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Custom Function

---
 - Making a custom function to calculate the calories burned.
 - Have to make it using while loop, inputs are activty duration, activity type.
 - Running burns 10 cal per min, swimming burns 8 cal per min, cycling burns 6 cal per min.
---

In [ ]:
def calories_burned(duration_min, activity_type):
  '''
  inputs = duration_min (time of activity is minutes), activity_type (Type of activity indulging in)
  outputs = calories burned (Total calories burned by doing the specified activity)
  '''
  if activity_type == 'running':
    calories = duration_min * 10
  elif activity_type == 'swimming':
    calories = duration_min * 8
  elif activity_type == 'cycling':
    calories = duration_min * 6
  else:
    calories = 0
  return calories

In [ ]:
glb_cal = calories_burned(20, 'cycling')
print(glb_cal)

120

In [ ]:
total_cal = calories_burned(23, 'swimming') + calories_burned(10, 'cycling') + calories_burned(30, 'running')
print(total_cal)

544

---
- Create a function to keep the count of book to order for each category.
- Inventory atleast has 10 books for each title at minimun.
- Input: a dictionary of books names as key with current count as values.
- Output: A dictionary of the book names as key and the value as number of books to be ordered.
---

In [ ]:
books = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}


books_cnt = {
    "Harry Potter": 10,
    "The Hunger Games": 5,
    "To Kill a Mockingbird": 2,
    "Pride and Prejudice": 8,
    "The Book Thief": 4
}

In [ ]:
# Approach-01
def inventory_update(books):
  for book in books:
    books[book] = books[book] - 10
  return books

# Approach-02
def books_tb_ordered(books):
  order = {}
  for name, qty in books.items():
    if qty >= 10:
      order[name] = 0
    else:
      order[name] = 10 - qty
  return order

In [ ]:
cal = inventory_update(books)
print(cal)

{'Harry Potter': 0, 'The Hunger Games': -5, 'To Kill a Mockingbird': -8, 'Pride and Prejudice': -2, 'The Book Thief': -6}

In [ ]:
bks = books_tb_ordered(books_cnt)
print(bks)

{'Harry Potter': 0, 'The Hunger Games': 5, 'To Kill a Mockingbird': 8, 'Pride and Prejudice': 2, 'The Book Thief': 6}

# Advanced Looping Concepts

---
- The blue things are the keywords which you should not mess with as we try to define a variable with keywords it will always assume to be function. Examples, def, lambda...
---

In [ ]:
# A lambda function which adds two number
add = lambda x,y: x+y

# calling the function
results = add(4,5)
print(results)

9

---
- Comparing with normal function

1. required a function name
2. arguments in ()
3. operation after :    
4. return statement is required.
---

In [ ]:
def add1(x,y):
  z = x+y
  return z

results1 = add1(4,5)
print(results1)

9

---
- If we have to solve something in a one liner then we have to use lambda function, but if we have more steps than we must use normal def function.
---

- Write a lambda function for division, if the second number is zero then it should print undefiend.

In [ ]:
div = lambda x,y: "undefined" if y==0 else x/y

print(div(10,2))
print(div(10,0))

5.0
undefined

---
 - Filter function is just another built-in function in python that allows us to filter elements of iterlable (such as list, tuple, string) based on certain condition
---

In [ ]:
filter(function, iterable)

In [ ]:
numb = [1,2,3,4,5,6,7,8,9]
eve = list(filter(lambda x: x % 2==0, numb))
print(eve)

[2, 4, 6, 8]

- Mapping function in python applies a given function to each of the iterable and return nre iterables with result

In [ ]:
map(function, iterable)

In [ ]:
numb = [1,2,3,4,5,6,7,8,9]
sq = list(map(lambda x: x**2, numb))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

- map function can be used with any function which takes a single argument and gives a single value

In [ ]:
word = ['apple', 'banana','mango','cherry']
len = list(map(len, word))
print(len)

[5, 6, 5, 6]

---
List Comprehension
- it allows us to create new list by iterating over an existing iterable object and applying a condition or expression to each element
---

In [ ]:
# basic syntax of list comprehension
new_iterable = [expression for item in iterable if condition]

In [ ]:
# through list comprehension
squares = [i**2 for i in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
# through loop
squares = []
for i in range(1,11):
  squares.append(i**2)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
squares = [i**2 for i in range(1,11) if i%2==0]
print(squares)

[4, 16, 36, 64, 100]

In [ ]:
squares = []
for i in range(1,11):
  if i%2==0:
    squares.append(i**2)
print(squares)

[4, 16, 36, 64, 100]

In [ ]:
# Nested list comprehension
pair = [(x,j) for x in range(1,6) if x % 2 ==0 for j in range(1,6) if j%2 ==1]
print(pair)

[(2, 1), (2, 3), (2, 5), (4, 1), (4, 3), (4, 5)]

In [ ]:
num_grades = [78,92,85,65,89,76,81]
let_grades = []
for grade in num_grades:
  if grade in range(90,101):
    let_grades.append('A')
  elif grade in range(80,90):
    let_grades.append('B')
  elif grade in range(70,80):
    let_grades.append('C')
  elif grade in range(60,70):
    let_grades.append('D')
  else:
    let_grades.append('F')
print(let_grades)

['C', 'A', 'B', 'D', 'B', 'C', 'B']

In [ ]:
lett_grades = ['A' if grade>=90 else 'B' if grade>=80 else 'C' if grade>=70 else 'F' for grade in num_grades]
print(lett_grades)

['C', 'A', 'B', 'F', 'B', 'C', 'B']

In [ ]:
prices = [100,50,80,120,150,340,200,45,20,10]
dis_price = [i*.80 for i in prices]
print(dis_price)

[80.0, 40.0, 64.0, 96.0, 120.0, 272.0, 160.0, 36.0, 16.0, 8.0]

---
Set Comprehension
- Similar to the list list comprehension but we are just creating a set
---

In [5]:
vow = {char for char in "Heello People" if char in 'aeiou'}
print(vow)

{'e', 'o'}

In [8]:
books = [('fiction', 20), ('history', 15), ('biography', 5), ('mystery', 10), ('science', 8), ('fiction', 15), ('history', 10)]

cat = {category for category, stock in books if stock>=10}
print(cat)

{'fiction', 'mystery', 'history'}

Enumerate Function:
- The "enumerate()" function is a powerful tool that simplifies looping over iterable objects, such as lists or strings. It returns a tuple containing the index and the corresponding value for each element in the sequence. This allows you to access both the index and the element during iteration, making code more concise and readable.

Zip Function:
- The "zip()" function is used to combine multiple iterables into a single iterable of tuples. It pairs elements from different sequences based on their index. This is particularly useful when you want to loop through multiple lists or strings simultaneously.

Generator Expressions:
- Generator expressions are similar to list comprehensions, but they generate values on-the-fly rather than creating a new list. This makes them memory-efficient when dealing with large datasets. They are denoted by parentheses instead of square brackets.

---
OOPs
---

**The main concept of OOPs is to bind the data and the functions that work on that together as a single unit.**

- In Python, a class is a blueprint for creating objects. It defines a set of attributes and methods that objects of that class will have

In [ ]:
class MyClass:
    # Class Variables
    variable1 = "Hello"
    variable2 = "World"

    # Class Method
    def myMethod(self):
        print("MyClass method called.")

# Creating Object of MyClass
myObject = MyClass()

# Accessing Variables
print(myObject.variable1)
print(myObject.variable2)

# Accessing Methods
myObject.myMethod()

# This class has two class variables (variable1 and variable2) and a class method (myMethod).
# We then create an object of this class called myObject and use it to access the class variables and method.

- Attributes:

Attributes are variables that hold information about an object

In [1]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

person = Person("John", 30)
print(person.name)
print(person.age)

John
30

- Objects:

An object is an instance of a class. We create objects by calling the class as if it were a function, passing in any necessary arguments. Here's an example:

person = Person()

Methods:

Methods are functions that are defined inside a class and can be called on objects of that class. They are used to perform operations on the attributes of the object or to return information about the object.

In [2]:
class Person:
    def __init__(self, name, age):
        self.name = name
        self.age = age

    def greet(self):
        print("Hello, my name is", self.name)
person = Person("John", 30)
person.greet()

Hello, my name is John

##### Making A Calculator

In [6]:
class Calculator:
    # Define the constructor method to initialize the class and set the initial result to 0
    def __init__(self):
        self.result = 0

    # Define a method to add num1 to num2 and store the result
    def add(self, num1, num2):
        self.result = num1 + num2
        return self.result

    # Define a method to subtract num2 from num1 and store the result
    def subtract(self, num1, num2):
        self.result = num1 - num2
        return self.result

    # Define a method to multiply num1 by num2 and store the result
    def multiply(self, num1, num2):
        self.result = num1 * num2
        return self.result

    # Define a method to divide num1 by num2 and store the result. Raise a ValueError if dividing by 0.
    def divide(self, num1, num2):
        if num2 == 0:
            raise ValueError("Cannot divide by zero.")
        self.result = num1 / num2
        return self.result

    # Define a method to clear the result back to 0
    def clear(self):
        self.result = 0
        return self.result

In [8]:
calc=Calculator()
#calling add method
addition=calc.add(42,6)

#calling subtract method
subtraction=calc.subtract(42,6)

#calling divide method
division=calc.divide(42,6)

#calling multiply method
mulitplication=calc.multiply(42,6)

print("Addition- ",addition)
print("subtraction- ",subtraction)
print("division- ",division)
print("mulitplication- ",mulitplication)

Addition-  48
subtraction-  36
division-  7.0
mulitplication-  252

##### Making a Virtual Pet

In [9]:
class Pet:
  def __init__(self, name, age, health_level):
    self.name = name
    self.age = age
    self.health_level = health_level

  def feed(self):
    self.health_level += 20
    print(f"{self.name} has been fed and is now {self.health_level}% healthy.")

  def play(self):
    self.health_level -= 10
    if self.health_level <= 5:
      print(f"{self.name} is not healthy enough to play with.")
    else:
      print(f"{self.name} is playing and is now {self.health_level}% healthy.")

  def check_health(self):
    if self.health_level <= 0:
      print(f"{self.name} is dead.")
    elif self.health_level <= 20:
      print(f"{self.name} is getting hungry.")
    else:
      print(f"{self.name} is healthy.")

In [10]:
my_pet = Pet("Mumu",2, 50)
my_pet.feed()
my_pet.play()
my_pet.check_health()

print("Name:", my_pet.name)
print("Age:", my_pet.age)
print("Health Level:", my_pet.health_level)

Mumu has been fed and is now 70% healthy.
Mumu is playing and is now 60% healthy.
Mumu is healthy.
Name Mumu
Age 2
Health Level 60

- Polymorphism is a core concept in object-oriented programming, which allows objects of different classes to be treated as if they are objects of the same class.

##### Making a Shape Calculator using Polymorphism

In [11]:
class shape:
  def area(self):
    pass

  def perimeter(self):
    pass

In [12]:
class Square(shape):
  def __init__(self, side):
    self.side = side

  def area(self):
    return self.side**2

class Rectangle(shape):
  def __init__(self, width, height):
    self.width = width
    self.height = height

  def area(self):
    return self.width*self.height

In [13]:
square = Square(5)
rectangle = Rectangle(3, 4)

# Calculating Area and Perimeter of Shapes
print("Area of Square:", square.area())

print("Area of Rectangle:", rectangle.area())

Area of Square: 25
Area of Rectangle: 12

Inheritance:
1. which allows a new class to be based on an existing class
2. The child class will have all the properties from the parent class or the class it was being inherited.

In [14]:
class Vehicle: # Parent Class
    def __init__(self, make, model, year):
        self.make = make
        self.model = model
        self.year = year

    def start_engine(self):
        print("Starting engine...")


#We can then define a subclass called Car that inherits from the Vehicle class and adds its own unique properties and methods.


class Car(Vehicle): ## Child class adding more properties
    def __init__(self, make, model, year, num_doors):
        super().__init__(make, model, year)
        self.num_doors = num_doors

    def drive(self):
        print("Driving the car...")

In [15]:
vehicle = Vehicle("Toyota", "Corolla", 2022)
car = Car("Tesla", "Model S", 2021, 4)

vehicle.start_engine()  # prints "Starting engine..."
car.start_engine()      # prints "Starting engine..."

#vehicle.drive()       # This will produce an error, as the drive() method is not defined for the Vehicle class
car.drive()

Starting engine...
Starting engine...
Driving the car...